
os/linux/icons/hicolor/
editors/intellij/options/features.usage.statistics.xml
editors/intellij/options/actionSummary.xml
editors/intellij/options/jdk.table.xml
editors/intellij/options/other.xml
editors/intellij/options/window.state.xml
editors/intellij/options/ui.lnf.xml
editors/intellij/options/shared-indexes.xml
editors/intellij/options/features.usage.statistics.xml
editors/intellij/options/actionSummary.xml
.lh/
os/linux/configs/terminator/plugins/__pycache__/
editors/intellij/options/actionSummary.xml
editors/intellij/options/baseRefactoring.xml
editors/intellij/options/colors.scheme.xml
editors/intellij/options/features.usage.statistics.xml
editors/intellij/options/find.xml
editors/intellij/options/jdk.table.xml
editors/intellij/options/other.xml
editors/intellij/options/path.macros.xml
editors/intellij/options/recentProjects.xml
editors/intellij/options/trusted-paths.xml
editors/intellij/options/updates.xml
editors/intellij/options/usage.statistics.xml
editors/intellij/options/window.state.xml
fonts/Da*
os/linux/configs/terminator/plugins/__pycache__/searchplugin.cpython-38.pyc
