
os/linux/icons/hicolor
editors/intellij/options/features.usage.statistics.xml
editors/intellij/options/actionSummary.xml
editors/intellij/options/jdk.table.xml
editors/intellij/options/other.xml
editors/intellij/options/window.state.xml
editors/intellij/options/ui.lnf.xml
editors/intellij/options/shared-indexes.xml
editors/intellij/options/features.usage.statistics.xml
editors/intellij/options/actionSummary.xml
