* {
	border: none;
	/*border-radius: 14px;*/
    border-radius: 30px 30px 30px 30px;
    font-family: "JetBrains Mono NF";
	font-weight: bold;
	font-size: 14px;
    min-height: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
    margin-top: 2px;
	margin-bottom: 0px;
    /*color: #B5E8E0;
	background: #161320;*/
}

window#waybar {
    background: transparent;
    transition-property: background-color;
    transition-duration: 0.3s;
    margin-left: 0px;
    margin-right: 0px;
}

window#waybar.hidden {
	opacity: 0.2;
}

window#waybar.empty #window {
    padding: 0px;
    margin: 0px;
    border: 0px;
    color: transparent;
    background-color: transparent;
}

#window {
	color: #161320;
	/*background: transparent;*/
	background: #FAE3B0;
    transition: none;
}

#window.focused {
		background: #ABE9B3;
}

#layout{
	color: #1A1826;
	background: transparent;
    transition: none;
}       

#layout.focused {
	background: #ABE9B3;
}

#mode{
	color: #161320;
	background: #F28FAD;
    transition: none;
}
#mode.normal{
	/*background: #96CDFB;*/
    color:#161320;
	background: transparent;
	}
	 
#workspaces {
    padding-bottom: 2px;
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 2px;
	background: transparent;
	border-color:  #1D1D1D;/*dark*/
}

#workspaces button {
    color: #1D1D1D;/*dark*/
	background: transparent;
	border-color:  #1D1D1D;/*dark*/
}

#workspaces button.active {
	/*background: transparent;*/
    color: #1D1D1D;/*dark*/
    background: #B5E8E0;/*blue-ish*/
}

#workspaces button.empty {
    color: #1D1D1D;/*dark*/
	background: transparent;
}

#workspaces button.focused {
	/*color: #99FF33;*//*bright green*/
    border-left: 2px solid #FF8FAD;
    border-right: 2px solid #FF8FAD;
    border-top: 2px solid #FF8FAD;
    border-bottom: 2px solid #FF8FAD;
} 

#workspaces button.current_output {
/*	background: #99FF33;*/
    /*color: #ff0000;*//*red*/
    border-left: 2px solid #B5E8E0;/*blue-ish*/
    border-right: 2px solid #B5E8E0;/*blue-ish*/
    border-top: 2px solid #B5E8E0;/*blue-ish*/  
    border-bottom: 2px solid #B5E8E0;/*blue-ish*/
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	background: #FF8FAD;
	color: #161320;/*dark*/
    border-color: #E8A2AF;/*soft pink*/
}

#workspaces button.focused:hover {
    background: #E8A2AF;
	color: #161320;
	border-color: #161320;
}


#tags {
    padding-bottom: 2px;
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 2px;
	background: #161320;
}

#tags button {
	color: #B5E8E0;
	background: transparent;
}

#tags button.occupied {
	color: #F28FAD;
	background: transparent;
}

#tags button.focused {
	color: #99FF33;
    border-left: 2px solid #FF8FAD;
    border-right: 2px solid #FF8FAD;
    border-top: 2px solid #FF8FAD;
    border-bottom: 2px solid #FF8FAD;
}

#tags button.urgent {
	background: #99FF33;
    color: #ff0000;
    border-left: 4px solid #1D1D1D;
    border-right: 4px solid #1D1D1D;
    border-top: 4px solid #1D1D1D;
    border-bottom: 4px solid #1D1D1D;
}

#tags button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	background: #FF8FAD;
	color: #161320;
    border-color: #E8A2AF;
}

#tags button.focused:hover {
    background: #E8A2AF;
	color: #161320;
	border-color: #161320;
}

#network {
	color: #161320;
	background: #bd93f9;
    transition: none;
}

#pulseaudio {
	color: #1A1826;
	background: #FAE3B0;
    transition: none;
}

#battery {
	color: #161320;
	background: #B5E8E0;
    transition: none;
}

#battery.charging, #battery.plugged {
	color: #161320;
    background-color: #B5E8E0;
}

#battery.critical:not(.charging) {
    background-color: #B5E8E0;
    color: #161320;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #B5E8E0;
    }
}

#backlight {
	color: #161320;
	background: #F8BD96;
    transition: none;
}
#clock {
	color: #161320;
	background: #ABE9B3;
	/*background: #1A1826;*/
    transition: none;
}

#memory {
	color: #161320;
	background: #DDB6F2;
    transition: none;
}

#idle_inhibitor {
	color: #B5E8E0;
	background: #161320;
    transition: none;
}

#cpu {
	color: #161320;
	background: #96CDFB;
    transition: none;
}

#temperature {
	color: #B5E8E0;
	background: #161320;
    transition: none;
}

#tray {
  	padding-left: 0px;
	padding-right: 0px;
    color: #B5E8E0;
	background: #161320;
    transition: none;
}

#custom-power {
	margin-right: 0px;
	font-size: 24px;
	color: #161320;
	background: #F28FAD;
    transition: none;
}

#custom-wallpaper {
	color: #161320;
	background: #C9CBFF;
    transition: none;
}

#custom-media {
	color: #161320;
	background: #F2CDCD;
    transition: none;
}

#custom-launcher {
	margin-left: 0px;
	background: #161320;
	color: #B5E8E0;
	/*background: #b41e1e;
	color: #f4f4de;*/
    transition: none;
    padding: 0px 20px 0px 20px;
}

#custom-pacman {
	color: #1A1826;
	background: #FAE3B0;
    transition: none;
}

