[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/th3g3ntl3man/Desktop/rebranding]
row=4
col=0

[/home/th3g3ntl3man/Desktop/BEAR]
row=1
col=0

[/home/th3g3ntl3man/Desktop/soniquete_mayo_25_cruda.mp3]
row=2
col=1

[/home/th3g3ntl3man/Desktop/harmony-0.12.3.AppImage]
row=2
col=0

[/home/th3g3ntl3man/Desktop/LaserWeb.desktop]
row=8
col=0

[/home/th3g3ntl3man/Desktop/code-insiders-user-bkp.zip]
row=6
col=0

[/home/th3g3ntl3man/Desktop/config]
row=2
col=25

[/home/th3g3ntl3man/Desktop/Ribbonsoft-qcad.desktop]
row=5
col=0

[/home/th3g3ntl3man/Desktop/nvim-java]
row=0
col=1

[/home/th3g3ntl3man/Desktop/LaserWeb.lnk]
row=7
col=0

[/home/th3g3ntl3man/Desktop/aquila-bear]
row=3
col=0

