[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/th3g3ntl3man/Desktop/brave-hnpfjngllnobngcgfapefoaidbinmjnm-Default.desktop]
row=3
col=0

[/home/th3g3ntl3man/Desktop/keybo]
row=4
col=0

[/home/th3g3ntl3man/Desktop/New Folder]
row=2
col=0

[/home/th3g3ntl3man/Desktop/2501]
row=5
col=0

[/home/th3g3ntl3man/Desktop/Untitled Folder]
row=0
col=1

[Trash]
row=0
col=0

[/home/th3g3ntl3man]
row=1
col=0

