[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/th3g3ntl3man/Desktop/bspwm]
row=0
col=0

[/home/th3g3ntl3man/Desktop/harmony-0.12.3.AppImage]
row=2
col=0

[/home/th3g3ntl3man/Desktop/copilot_workspace]
row=1
col=0

[/home/th3g3ntl3man/Desktop/v4_Josito Pipper Bear 0.4 nozzle.orca_printer]
row=3
col=0

[/home/th3g3ntl3man/Desktop/bkp_linux_2506]
row=5
col=0

[Trash]
row=6
col=1

