[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/th3g3tl3man/Desktop/soniquete.mp3]
row=3
col=0

[/home/th3g3tl3man/Desktop/2025-01-04_5h18m21.mp3]
row=2
col=0

[Trash]
row=0
col=0

[/home/th3g3tl3man]
row=1
col=0

